body {
	color: #fff;
	background-color: #000;
}

::-moz-selection {
    background: #666;
    text-shadow: none
}

::selection {
    background: #666;
    text-shadow: none
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	color: #fff;
}

a,a:hover {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	opacity: 0.8;
}

.header nav,
.footer {
	border-color: #333;
}

.highlight {
	background-color: #333;
}
