<div class="header">
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
		{{- end -}}
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
				<a href="{{ $key.link }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
				{{- end -}}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range $index, $key := .Site.Params.Nav }}
			<li>
				<a href="{{ $key.link }}">{{ $key.name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
