<div class="header">
	<h1 class="site-title"><a href="{{ absLangURL "/" }}">{{ .Site.Title }}</a></h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
		{{- end -}}
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
				<a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
				{{- end -}}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat" style="text-align:left;">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
			</li>
			{{ end }}
			{{ if .IsTranslated }}
			{{ range .Translations }}
			<li style="float:right;"><a href="{{ .Permalink }}">{{ .Lang }}</a></li>
			{{ end }}
			{{ end }}
		</ul>
	</nav>
</div>
