<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		 {{ partial "head.html" . }}

		<div class="recent-posts section">
			<h2 class="section-header">
				Recent posts
			</h2>
			<div class="posts">
				{{- $.Scratch.Set "counter" 0 -}}
				{{- range .Data.Pages -}}
				{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
				{{- else -}}
				{{- if lt ($.Scratch.Get "counter") (.Site.Params.RecentPostsCount | default 10) -}}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
							{{ .Description }}
						{{ else if gt (len .RawContent) 120 }}
							{{ slicestr .RawContent 0 120 }}...
						{{ else }}
							{{ .RawContent }}
						{{ end }}
					</span>
				</div>
				{{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) -}}
				{{- end -}}
				{{- end -}}
				{{- end -}}

				<a href="/posts">All articles →</a>
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
	{{ template "_internal/google_analytics_async.html" . }}
	{{- with .Site.Params.Social -}}
	<script>feather.replace()</script>
	{{- end -}}
</body>
</html>
